@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 1400px;
}
p {
  font-size: 1.6rem;
}
.dashboard_subcontainer {
  display: grid;
  grid-template-columns: 280px 1fr;
}
.dashboard_container {
  height: 100vh;
  max-width: 140rem;
  overflow-y: hidden;
}
.dashboard_content {
  padding: 4rem;
  height: calc(100vh - 10rem);
}

.hide_scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
}
