$btn-green: #39cdcc;
$blue-grey: #213f7d;
.input_container {
  display: flex;
  margin: 0 auto;
}
.container {
  display: flex;
  box-shadow: 3px 0px 20px 0px #0000000a;
  align-items: center;
  background: #ffffff;
  width: inherit;
  height: 10rem;
  padding: 2rem;
  position: relative;
  z-index: 1000;
}
.input {
  border: 1px solid rgba(33, 63, 125, 0.2);
  width: 400px;
  height: 40px;
  border-radius: 8px 0 0 8px;
  padding: 1rem;
  font-size: 1.4rem;
}

.search_container {
  background: rgba(57, 205, 204, 1);
  width: 5.6rem;
  height: 4rem;
  display: grid;
  place-items: center;
  border-radius: 0 8px 8px 0;
}
.docs_link {
  color: $blue-grey;
  text-decoration: underline;
  font-size: 1.6rem;
}
.name{
    color: $blue-grey;
    font-weight: 500;
}
.options_container{
    display: flex;
    align-items: center;
    gap: 2rem;
    a{
        margin: 0 3rem;
    }
}